.dash-permission-page {
  margin-left: 240px;
  padding: 20px;
  background: #f4f6f9;
  min-height: 100vh;
}

.dash-title {
  color: #2563eb;
  margin-bottom: 15px;
}

.dash-filter-card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.filter-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-left select {
  padding: 7px 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}


.enable-all {
  display: flex;
  align-items: center;
  gap: 6px;
}


.filter-right {
  display: flex;
  gap: 10px;
}

.save-btn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: #e11d48;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.dash-table-card {
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #22c7f5;
  color: white;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}
