.userwise-container {
  margin-left: 240px;
  padding: 20px;
  background: #f4f6f9;
  min-height: 100vh;
}

.page-header {
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.page-header h2 {
  color: blue;
  font-size: 22px;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-row input {
  padding: 8px 12px;
  width: 260px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-btn {
  padding: 7px 12px;
  border-radius: 6px;
  border: 1px solid #333;
  background: white;
  cursor: pointer;
}


.table-box {
  background: white;
  border-radius: 8px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #25c9f7;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
}

.user-names {
  color: #d97706;
  font-weight: 500;
}
