.user-page {
  margin-left: 240px;
  padding: 20px;
  background: #f4f6f9;
  min-height: 100vh;
}


.user-header {
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-header h2 {
  color: #2563eb;
}

.user-actions .btn {
  margin-left: 10px;
  padding: 7px 12px;
  border: none;
  background: #e5e7eb;
  border-radius: 6px;
  cursor: pointer;
}


.filter-box {
  margin-top: 15px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 7px 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.search-btn {
  padding: 7px 14px;
  background: #e5e7eb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.table-box {
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #22c7f5;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

.icon-btn {
  border: none;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
  background: #f3f4f6;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: white;
  width: 42%;         
  max-width: 520px;  
  padding: 16px;      
  border-radius: 10px;
}



.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  font-size: 18px;
}


.modal-body {
  margin-top: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-row label {
  width: 150px;
  font-weight: 500;
}

.form-row input,
.form-row select {
  width: 320px;
  height: 30px;        
  padding: 4px 8px;   
  font-size: 13px;    
  border: 1px solid #d1d5db;
  border-radius: 5px;
  box-sizing: border-box;
}



.save-box {
  text-align: center;
  margin-top: 20px;
}

.save-btn {
  padding: 10px 22px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}


